<section class="tags-selection">
  <header class="tags-selection-header">
    <div class="tags-selection-header-label"><i class="fa fa-tag"></i>Tags</div>
  </header>
  <div id="tags-selection-panel">
  	<%- grouped_tag() %>
  </div>
</section>
